@charset "UTF-8";

/* Typical  Device Breakpoints
--------------------------------

Usando | atual:

480px: dispositivos móveis
768px: iPads, tablets
1024px: telas pequenas, laptops
1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs

#################################

A do curso em vídeo:

Pequenas telas: Até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop:  de 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (max-width: 480px) {

    body {
        background-image: linear-gradient(45deg, black, blue, black);      
    }
    #login {
        width: 80%;
        height: 600px;
        border-radius: 10px;
        box-shadow: none;
    }

    #imagem {
        height: 150px;
    }

    #form h1 {
        color: #ffffff;
    }

    #form p {
        color: #ffffff;
    }

    .campo,
    .campo imput,
    .entrar > input[type=submit],
    .link {
        width: 100%;
    }
   
    .campo i {
        margin-top: 5px;
    }    
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #login {
        max-width: 600px;
    }

    .campo input {
        margin-left: 10px;
    }

    .campo i {
        margin: 8px 8px
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(-45deg, orange, blue, black);
    }

    #login {
        width: 90vw;
    }

    
    #imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }

    #form {
        float: right;
        width: 60%;
        height: 100%;
        background-color: rgb(17, 17, 179);
    }

    #form h1 {
        text-align: center;
        font-size: 3em;
        margin-top: 35px;
        margin-bottom: 20px; 
        letter-spacing: 3px;   
       
        background-image: linear-gradient(-180deg, orange, blue, black);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;        
    }

    #form h1::first-letter {
        font-size: 1.4em;
    }
    
    #form p {
        font-size: 1em;
        text-align: center;
        color: #928d32;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        margin: 2em;     
        /* background-color: white;*/
    }

    .link {
        color: #ffffff;
        font-size: .8em;
    }

    .link:hover {
        color: blue;
        font-weight: bold;
    }
    
}

@media screen and (min-width: 992px) {

    body {
        background-image: url(../img/natalMd.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
    }

    #login {
        width: 1000px;               
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-position: top center;
        background-size: cover;
    }

    #form {
        float: left;
        width: 50%;
        height: 100%;
        background-color: rgba(36, 36, 118, 0.899);        
    }    

    #form h1 {
        text-align: center;
        font-size: 2em;
        margin-top: 15px;
        margin-bottom: 5px; 
        font-weight: bold; 
        letter-spacing: 2px;  
    }

    #form h1::first-letter {
        font-size: 1.5em;
    }
    
    #form p {
        font-size: 1em;
        text-align: center;
    }
}